Operator for common objects of the Stackable Data Platform (SDP).
This operator is required for most installations of the SDP and some things might not work if you do not install it.

Once installed it should run unattended and do [its thing](https://docs.stackable.tech/home/stable/{{operator_docs_slug}}/usage).

{% filter trim %}
  {%- include "partials/borrowed/overview_blurb.md.j2" -%}
{% endfilter %}

## Installation

You can install the operator using [stackablectl or helm](https://docs.stackable.tech/home/stable/commons-operator/getting_started/installation).

{% filter trim %}
  {%- include "partials/borrowed/documentation.md.j2" -%}
{% endfilter %}
